ul.meta-box {
  padding-bottom: 10px;
  list-style: none;
}

li.meta-box-date > img {
  margin-right: 15px;
}

li.meta-box-date {
  display: -webkit-inline-box;
}

ul.meta-box {
  padding: 10px;
  margin: 5px 5px 5px 5px;
  list-style: none;
  /* border: 1px solid #d4d4d4; */
  box-shadow: 0 0 3px 0px;
}

section.ant-layout > main {
  padding: 50px;
}